
* {
    margin: 0;
    padding: 0;
}
.container_cadastro2 {
    width: 800px;
    background-color: white;
    padding: 40px 40px;
    border-radius: 4px;
    -webkit-box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
    -moz-box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
    box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
    margin: auto;
    margin-top: 60px;
    text-align: center;
}

.tx_usuario{
    font-family: 'Dosis', sans-serif;
    margin-bottom: 10px;
    font-size: 20px;
    color:#BC3908;
}

.tipocliente{
    width:700px;
    display: flex;
    padding: 5px;
    margin: auto;
}
.c_usuario{
    margin: 10px;
}

.btn_cadastro_c{
    margin: 20px;
}

@media(max-width:768px){
    .container_cadastro2{
        width: 400px;
    }
    
}