@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgba(218, 165, 32, 0.78);
    padding: 25px 0px;
}

.container {
    width: 1200px;
    margin: auto;
}

.sub_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* nav {
    padding-top: 10px;
}

nav ul {
    display: flex;
    padding: 10px;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #000000;
    font-family: 'Dosis', sans-serif;
}

nav li {
    list-style: none;
    font-size: 18px;
} */

.pesquisa {
    background-color: white;
    border-radius: 10px;
    width: 300px;
}

.txt_busca {
    float: left;
    background-color: transparent;
    padding-left: 5px;
    font-size: 18px;
    border: none;
    height: 32px;
    width: 260px;
}
.btn_busca {
    width: 20px;
    height: 20px;
    margin-top: 5px;
}

footer {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.contato {
    line-height: 1.5;
}

.localizacao {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.todo {
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 1000px;

    background-color: white;
    padding: 80px 40px;
    margin: 40px 0px;
    border-radius: 4px;
    -webkit-box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
    -moz-box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
    box-shadow: 5px 5px 30px -15px rgba(204, 204, 204, 1);
    display: flex;
    justify-content: center;
}




#form_cadastro div span{
    width: 120px;
    display: block;
}

#form_cadastro div{
    margin: 10px;
}

.button_e {
     width: 50%;
    margin: 50px auto;
    font-size: 1.2em;
    padding: 10px;
    border: none;
    background-color:#BC3908;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    border-radius: 20px;
 }
 /* label{
     width: 100%;
     margin-bottom: 10px;
 } */
 input.card {
    background-color: white;
    border-radius: 8px;
    width: 300px;
    height: 30px;
    border: solid 1px black;
    padding-left: 10px;
 }
 .h3{
    font-family: 'Dosis', sans-serif;
 
    
 }
 .telefone{
     display: flex;
    
 }


 .formulario_cadastro {
    display: flex;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    
}

.formulario_cadastro div {
    display: flex;
    flex-direction: column;
}
input.card{
    height: 50px;
    border-style: 1px outset #707070;

}
/*Medias Queries*/

@media(max-width:1169px) {
  
    .container {
        width: 720px;
    }
    .card{
        width: 720px;
 
}
}

/*Smart*/

@media(max-width:768px) {   
  
    .container {
        width: 350px;
        

    }
    .direito{
        width: 350px;

    }
    .esquerdo{
        width: 350px;

    }
    .card{
        width: 350px;

    }
        .formulario_cadastro{
            display:flex;
            flex-direction: column;
    
    }
  

    }
