/* página de perfil do usuario */

* {
	margin: 0;
	padding: 0;
}
:root{
    --vinho:#941B0C;
    --amaelo:#DAA520;
    --peto:#1D1E18;
    --marrom_escuro:#1D1E18;
    --verde:#2E2422;
    --laranja:#BC3908;
    --branco:#FFFFFF;
}
.cabeca{
	width: 1200px;
    background-color: white;
    margin: auto;
	display: flex;
	align-items: center; 
	align-content: center;     
}
.conj_barra{
	display: block;
	align-content: center;
	align-items: center;
}
.perfil h1{
	padding-bottom: 15px;
	text-align: center;
	color: #BC3908;
	font-weight: bold;
	font-family:'Dosis', sans-serif;
}
.barra_lateral{
	margin:auto;
	width:150px;
	height:560px;
	border: 1px solid #BC3908;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	box-sizing: border-box;	  
	margin-top: 70px; 
	margin-bottom: 70px; 
}
.opcoes{
	font-family:'Dosis', sans-serif;
	font-size: 30px;
	padding: 15px;
}
a.opcoes{
	text-decoration: none;	
	color:#BC3908	
}
a.opcoes:hover{
	background-color:#BC3908;
	color: white;
}
.pri_barra{	
	width:830px;
	margin: auto;
	align-items: center;
		
}
.titulo_usuario{
	font-family:'Dosis', sans-serif;
	text-align: center;
	font-size: 30px;
	color: #BC3908;
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 20px;
}
.dados_perf{
	display: flex;
	align-content: space-between;
	padding: 20px;
}
.img_usuario{
	width: 150px;
	padding-left: 100px;
}
.usuario_perfil{
	height: 100px;
}
.user_usuario{
	font-family:'Dosis', sans-serif;
	font-size: 35px;
	padding: 5px;	
	color: #220901;
	align-items: flex-start;
}
#conj_perfil{
	display: block;

	align-items: center;
	width: 600px;	
}
.item{
	margin:35px;
}
.estilo_input{
	border: 0;
	width: 350px;
	border-bottom: 2px solid #BC3908;
	border-left: 2px solid #BC3908;
	border-right: 2px solid #BC3908;
	border-radius: 3px;
	padding: 1px;
	background: transparent;
	color: #808080;
	text-align: left; 	
}


.item2{
	margin:15px;
	margin-left: 20px;	
}
.estilo_dados{	
	border: 0;
	width: 220px;
	border-bottom: 2px solid #BC3908;
	border-left: 2px solid #BC3908;
	border-right: 2px solid #BC3908;
	border-radius: 3px;	
	padding: 1px;
	background: transparent;
	color: #808080;
	text-align: left;
}

.dados_principais{
	display: flex;
	align-content: space-between;
}
.botao_ficha{
	border: solid 2px ;
	border-radius: 20px;
	font-family:'Dosis', sans-serif;
	color: #BC3908;
	width: 150px;
	font-size: 1em;
	font-weight: bold;
    padding: 5px;
	cursor: pointer; 
	text-align: center;
	margin: auto;
	margin-top: 60px;
}

a.botao_perfil{
	text-decoration: none;	
	color:#BC3908;
	
}
a.botao_perfil:hover{
	color: white;
}
.botao_ficha:hover{
	background-color:#BC3908;
	color :white;
}



