* {
	margin: 0;
	padding: 0;
}
:root{
    --vinho:#941B0C;
    --amaelo:#DAA520;
    --peto:#1D1E18;
    --marrom_escuro:#1D1E18;
    --verde:#2E2422;
    --laranja:#BC3908;
    --branco:#FFFFFF;
}
.cabeca_produto{
    width: 1200px;
    background-color: white;
    margin: auto;
	display: flex;
	align-content: center;	       
}
.pproduto{
	padding-bottom: 45px;
	padding-top: 30px;
	text-align: center;
	color: #BC3908;
	font-weight: bold;
	font-family:'Dosis', sans-serif;
}
.barra_produto{
	margin:auto;
	width:300px;
	height:500px;
	border: 1px solid;
	border-radius: 6px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	box-sizing: border-box;	
	margin-top: 70px; 
	margin-bottom: 70px;    
}
.opcoes{
	font-family:'Dosis', sans-serif;
	font-size: 30px;
	padding: 15px;
}
.pri_produto{	
	width:872px;
	height:500px;
	border: 1px solid;
	border-radius: 6px;	
	box-sizing: border-box
}
.retangular{
	position: absolute;
}
.img_inserir{
	margin-left: 10px;
	cursor: pointer; 
}
.conjunto{
	border: 1px outset;
	padding: 10px;
	height: 55px;
	color: #BC3908;
	width: 830px;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 50px;	
}
.usuario_produto input{
	border: none;
}
.pdescricao{
	font-family: 'Roboto', sans-serif;
	position: relative;
	left: 80px;
	bottom: 60px;
	font-weight: bold;
}
.descricao{
	font-family: 'Roboto', sans-serif;
	position: relative;
	left: 80px;
	bottom: 60px;
}
.detalhes{
	position: relative;
	left: 800px;
	bottom: 110px;
	font-size: 40px;
}
.lixeira{
	margin-left: 800px;
	position: relative;
	bottom: 170px;
	cursor: pointer; 
}
.botao_produto{
	display: flex;
	align-content:space-between;
	padding: 15px;
	width: 800px;
}

@media(max-width:1169px){

}

@media(max-width:768px){
	
}